<header class="header">
    <div class="container">
      <a href=""><img src="logo.png" alt="Swiggy Logo" class="logo"/></a>
      <nav class="nav-links">
        <a href="#" style="color:white">Swiggy Corporate</a>
        <a href="#" style="color:white">Partner with us</a>
        <a routerLink="/cart" style="color:white">Cart</a>
        <a routerLink="/favorite" style="color:white">Favorites</a>
        <a href="#" class="btn btn-app">Get the App</a>
        <a href="#" class="btn btn-signin">Sign In</a>
      </nav>
    </div>
</header>